@import 'variables';


/*Banner*/

.banner-form-group {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 10px 0;
}

.banner-form-group div {
	margin-right: 10px;
}

.banner-form-group input {
	margin-right: 10px;
}

.banner-form-select {
    border: 1px solid #CCCCCC;
    outline: none;
    padding: 10px;
    margin: 10px 0;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
}
