.modal-tour .modal-content {
  width: 80%;
  min-width: 600px;
  margin: 0 auto;
  border: none;
  padding: 0;
}



.modal-tour .main-form{
	color: black;
	width: 80%;
	margin: 40px auto;
	.main-slogon-sm {
		color: black;
		margin-bottom: 30px;
		font-weight: 600;
	}
	.input-group-btn i {
		font-size: 1.6rem;
	}
	.input-group-btn i:hover {
		opacity: 0.7;
		cursor: pointer;
	}
	.input-group-btn  button {
	}
}

