<header>
	<nav class="navbar navbar-modified">
      <div class="container-fluid">

		   <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
					<a class="navbar-brand" href="/">
					<img alt="Brand" src="images/logo.png">
					</a>
		    </div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right nav-modify" style="margin-top: 10px">

					<li><a ui-sref="main">首页</a></li>
					<li><a ui-sref="user">我是游客</a></li>
					<li><a ui-sref="main">我是导游</a></li>
					<li data-toggle="modal" data-target="#myModal"><a><button class="btn btn-default btn-primary">登陆</button></a></li>
					<li data-toggle="modal" data-target="#myModal"><a><button class="btn btn-default btn-primary">注册</button></a></li>
				</ul>

			</div>

		</div>
	</nav>
</header>



<!-- Modal Login-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-body">
        <div class="modal-left">
    		欢迎加入
    	</div>
    	<div class="modal-right">
	        <form class="form-horizontal form-center">
	       		<h4 class="modal-title text-center" id="myModalLabel">登陆</h4>
			  	<div class="form-group form-input">
			  		<label for="inputEmail3" class="control-label">邮箱</label>
				    <div>
				    	<input type="text" class="form-control" ng-model="forms.username" placeholder="Username">
				    </div>
			  	</div>
				  <div class="form-group form-input">
				  	<label for="inputEmail3" class="control-label">密码</label>
				    <div>
				    	<input type="password" class="form-control" ng-model="forms.password" placeholder="Password">
				    </div>

				  </div>
				  <div class="button-group">
				 	<button type="submit" class="btn btn-primary">Submit</button>
				  	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				  </div>
			</form>
		</div>
      </div>

    </div>
  </div>
</div>
